@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --Linear-Gradient1: hsl(236, 72%, 79%);
  --Linear-Gradient2: hsl(237, 63%, 64%);

  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background: url(./images/bg-top.svg) no-repeat top right, url(./images/bg-bottom.svg) no-repeat bottom left;
  background-color: var(--Very-Light-Grayish-Blue);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.plans>div>h1,
.plans>div>p {
  border-bottom: 1px solid var(--Light-Grayish-Blue);
  padding-bottom: 1.2rem;
}

.plans>div>h1 {
  color: var(--Dark-Grayish-Blue);
}

h2,
h3,
p {
  color: var(--Grayish-Blue);
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
}

.monthly,
.annually.active {
  display: none;
}

.annually,
.monthly.active {
  display: block;
}

.subscription {
  display: flex;
  margin: 0 0.5rem 1.5rem 0;
  gap: 1.3rem;
  align-items: center;
}

.subscription>p {
  color: var(--Light-Grayish-Blue);
}

.toggle-switch {
  position: relative;
  background: var(--Linear-Gradient2);
  width: 58px;
  height: 30px;
  border-radius: 20px;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.toggle-switch:hover {
  background: var(--Linear-Gradient1);
}

.circle {
  position: absolute;
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.toggle-switch.active>.circle {
  left: 51% !important;
}

.plans {
  display: flex;
}

.plans>.basic,
.plans>.master {
  background-color: #fff;
  padding: 1.7rem;
  text-align: center;
  margin: 1rem 0;
}

.plans>.basic {
  border-radius: 8px 0 0 8px;
}

.plans>.master {
  border-radius: 0 8px 8px 0;
}

.plans>.pro {
  background: linear-gradient(120deg, var(--Linear-Gradient1) 20%, var(--Linear-Gradient2) 100%);
  padding: 2.5rem 1.7rem;
  text-align: center;
  border-radius: 8px;
}

.plans>.pro h3,
.plans>.pro h1,
.plans>.pro p {
  color: #fff;
}

.plans>.basic>button,
.plans>.master>button {
  margin-top: 1rem;
  padding: .7rem 5rem;
  text-transform: uppercase;
  background: linear-gradient(45deg, var(--Linear-Gradient1) 20%, var(--Linear-Gradient2) 100%);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.plans>.basic>button:hover,
.plans>.master>button:hover {
  background: #fff;
  color: var(--Linear-Gradient2);
  border: 1px solid var(--Linear-Gradient2);
}

.plans>.pro>button {
  margin-top: 1rem;
  padding: .7rem 5rem;
  text-transform: uppercase;
  background: #fff;
  color: var(--Linear-Gradient2);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.plans>.pro>button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

@media only screen and (min-width: 280px) and (max-width: 769px) {
  body {
    background: var(--Very-Light-Grayish-Blue);
    background-image: url(./images/bg-top.svg);
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: 210% 0%;
    position: relative;
  }

  .plans {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0 5rem 0;
  }
}